[submodule "framework"]
	path = framework
	url = git@github.com:sds/dot.git

[submodule "nvim"]
	path =  ./plugins/neovim/nvim/
	url = git@github.com:eddyekofo94/nvim.git

[diff]
  ignoreSubmodules = dirty
